@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruda-Regular.eot');
  src: //url('../fonts/Ruda-Regular.woff') format('woff'),
  url('../fonts/Ruda-Regular.otf') format('otf'),
  url('../fonts/Ruda-Regular.ttf') format('truetype'),
  url('../fonts/Ruda-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruda-Medium.eot');
  src: //url('../fonts/Ruda-Medium.woff') format('woff'),
  url('../fonts/Ruda-Regular.otf') format('otf'),
  url('../fonts/Ruda-Medium.ttf') format('truetype'),
  url('../fonts/Ruda-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruda-SemiBold.eot');
  src: //url('../fonts/Ruda-SemiBold.woff') format('woff'),
  url('../fonts/Ruda-Regular.otf') format('otf'),
  url('../fonts/Ruda-SemiBold.ttf') format('truetype'),
  url('../fonts/Ruda-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruda-Bold.eot');
  src: //url('../fonts/Ruda-Bold.woff') format('woff'),
  url('../fonts/Ruda-Regular.otf') format('otf'),
  url('../fonts/Ruda-Bold.ttf') format('truetype'),
  url('../fonts/Ruda-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruda-ExtraBold.eot');
  src: //url('../fonts/Ruda-ExtraBold.woff') format('woff'),
  url('../fonts/Ruda-Regular.otf') format('otf'),
  url('../fonts/Ruda-ExtraBold.ttf') format('truetype'),
  url('../fonts/Ruda-ExtraBold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}

